#logo-container{
    margin: 0 auto;
    text-align: center;
}
#logo {
    width: 300px;
}
#color {
    width: 100%;
    height: 6px;
    background: -webkit-linear-gradient(left, #000000 10%, #001eff 25%, #00ff15 65%,#FF4500	 85%);
}